@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
  background: url("Images/gundam.png"), none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
* {
  margin: 0;
  padding: 0;
}